<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>
        <%= title %> 
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script>
        var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        function launchElection(id,questionCount,optCount) {
                // console.log(token,"//////////////////////")
                // console.log(questionCount,"Question count")
                if (questionCount>=1 && optCount ){
                    fetch(`/elections/${id}/launch`, {
                    method: "put",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "_csrf":token
                    })
                })
                    .then((res) => {
                        if (res.ok) {
                            window.location.replace(`/elections/${id}`);
                        }
                    })
                    .catch((err) => console.log(err));}
                else if(questionCount<1){
                    window.alert("Atleast 1 question required")
                }
                else {
                    window.alert("Atleast 2 options in every question")
                }
        }
        
    </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <b><%= fname   %> 
                <%= lname   %> </b><br>
            <a href="/signout">Signout</a>
            <br>
            <div class="nav">
                <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=election.id%>"><%=election.name%></a> > <a href="/elections/<%=election.id%>/electionPreview">electionPreview</a>
            </div>
            <h2>
                <%=election.name%>
            </h2>
            <br><br>
            <% var questionCount=1 %>
            <% for(let i=0;i<allQuestions.length;i++){  %>
                
                    Question <%= questionCount %> 
                    <h1 class="quesName" ><b><big><%=allQuestions[i].name%></big></b></h1>
                    <div class="quesDesc"> 
                        <%=allQuestions[i].desc%>
                    </div>
                    <%optionCount=1%>
                    <ul class="options">
                        <%for(j in allOptions[allQuestions[i].id]){%>
                        <li>
                            &emsp;
                            <%= optionCount %>. <%=allOptions[allQuestions[i].id][j].name%>
                        </li>
                        <%optionCount++}%>
                    </ul>
                    <br
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <br>
                <% questionCount++; }%>
                <div class="py-3">
                    <button onclick="console.log('111');launchElection(<%=election.id%>,<%= quesCount %>,<%= optCount %>)"
                        class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">launch Election</button>
                </div>

        </div>
    </div>
</body>
</html>