<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>
        <%= title %> 
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h1 class="font-medium leading-tight text-3xl mt-0 mb-2 text-green-600 font-bold">
                Online Voting System
            </h1>
            <!-- <a href="/signout">Signout</a> -->
            <h2>
                <%=election.name%>
            </h2>
            <br><br>
            <form action="/elections/<%= election.id %>/electionpage" method="post">
            <% var questionCount=1 %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% for(let i=0;i<allQuestions.length;i++){  %>
                    Question <%= questionCount %> 
                    <h1 class="quesName" ><b><big><%=allQuestions[i].name%></big></b></h1>
                    <div class="quesDesc"> 
                        <%=allQuestions[i].desc%>
                    </div>
                    <%optionCount=1%>
                    <ul class="options">
                        <%for(j in allOptions[allQuestions[i].id]){%>
                        <li>
                            &emsp;
                            <input type="radio" value="<%= allOptions[allQuestions[i].id][j].id %>"  name="<%= allQuestions[i].id%>" required><%=allOptions[allQuestions[i].id][j].name%>
                        </li>
                        <%optionCount++}%>
                    </ul>
                    <br>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <br>
                <% questionCount++; }%>
                <div class="py-3">
                     
                    <button class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>