<!-- <h1>Manage question</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>
        <%= title %> 
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script>
        var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        function editQuestion(id,qid){
        console.log("editing question...");
        questionName=document.getElementById("questionName").innerText
        questionDesc=document.getElementById("questionDesc").innerText
        if (questionName===""){
          window.alert("Question name cannot be empty")
          window.location.reload()
        }else{
          console.log(questionName);
        }}
      
        function editques(id,qid){
            let b=document.getElementById("editbtn")        
            if (b.innerText==="edit question!" ){
                let q=document.getElementById("quName")
                let d=document.getElementById("deName")
                q.contentEditable=true
                d.contentEditable=true
                b.innerText="Save Changes";
            }
            else{
                let q=document.getElementById("quName").innerText
                let d=document.getElementById("deName").innerText
                q=q.trim(" ")
                d=d.trim(" ")
                fetch(`/elections/${id}/questions/${qid}`, {
                    method: "put",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        name:q,
                        description:d,
                        "_csrf":token
                    })
                })
                .then(
                    (res) => {
                        if (res.ok) {
                            window.location.reload();
                        }
                    }
                )
                .catch((err) => console.log(err));
            }
        }
        function deleteOption(id,qid,oid,count){
                
            fetch(`/elections/${id}/questions/${qid}/${oid}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                        count:count,
                        "_csrf":token
                    })
            })
            .then((res) => {
                console.log(res)
                    if (res.status===400){window.alert("Atleast 2 options required")}
                    // if( res.status===400){window.alert("Atleast 1 question should be in the ballot")}
                    window.location.reload();
          })
                .catch(
                    (err) => console.log(err)
                    // window.alert("Atleast 2 options required")
                    );
        }
        function editOption(id,qid,oid){
            optionName=document.getElementById(`${oid}`).innerText
        //   console.log(optionName);
          fetch(`/elections/${id}/questions/${qid}/options/${oid}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    name:optionName,
                    "_csrf":token
                })
            })
                .then((res) => {
                    // console.log("33333")
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.log(err));
        }
      
            
    </script>

</head>
<body>
    <div class="grid grid-cols-6" >
        <div class="col-start-3 col-span-2" id="container1">
            <%- include('header.ejs') %>
            <b><%= fname   %> 
                <%= lname   %> </b><br>
            <a href="/signout">Signout</a>
            <br>
            <div class="nav">
                <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=election.id%>"><%=election.name%></a> > <a href="/elections/<%=election.id%>/questions">questions</a> > <a href="/elections/<%=election.id%>/questions/<%= question.id %> "><%= question.name %> </a> 
            </div>
                <div class="py-3">
                    <h1 id="quName"><%= question.name %> </h1>
                </div>
                <div class="py-3 w-full">
                    <h2 id="deName" ><%= question.desc %> </h2>
                </div>
                <div class="py-3">
                <button class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"  id="editbtn"
                onclick="editques(<%=election.id%> ,  <%=question.id%>)">
                    edit question!
                </button>
            </div>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <li> <%= messages.error[i] %></li>
                <% } %>
              <% } %>
            <form action="/elections/<%=election.id%>/questions/<%= question.id %> " method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="py-3">
                    <label for="text-gray-900">Option :</label>
                    <input type="text" name="name" id="questionName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <button class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2" type="submit">Add Option</button>
                </div>
                
            </form>
            <div>
                <%- include("option.ejs",{data:allOptions}) %> 
            </div>
        </div>
    </div>
</body>
</html>
