<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> 
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script>
        function deleteQuestion(id,qid,QuestionsCount){
        fetch(`/elections/${id}/questions/${qid}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                        count:QuestionsCount
                    })
            })
                .then((res) => {
                    console.log(res)
                    if (res.status===400){window.alert("Atleast 1 question should be in the ballot")}
                    // if( res.status===400){window.alert("Atleast 1 question should be in the ballot")}
                    window.location.reload();
          })
                .catch(
                    (err) => console.log(err)
                    // window.alert("Atleast 1 question should be in the ballot")
                    );
      }
    </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <a href="/signout">Signout</a>
            <br>
            <div class="nav">
                <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=id%>"><%=election.name%></a> > <a href="/elections/<%=election.id%>/questions">questions</a>
            </div>
            <form action="/elections/<%=id%>/questions " method="post">
                <div class="py-3">
                    <label for="text-gray-900">Question name:</label>
                    <input type="text" name="name" id="questionName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="text">Description:</label>
                    <textarea type="text" name="desc" id="questionDesc" class="border border-gray-300 text-gray-900 rounded p-2 w-full"></textarea>
                </div>
                <div class="py-3">
                    <button class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2" type="submit">Add</button>
                </div>
            </form>
            <div>
                <%- include("question.ejs",{data:allQuestions,id,title:"Questions"}) %> 
            </div>
        </div>
    </div>
</body>
</html>
