<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>
        <%= title %> 
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <% if (electionStatus){%>
                <div class="nav">
                    <a href="/signout">Signout</a>
                    <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=election.id%>"><%=election.name%></a> > <a href="/elections/<%=election.id%>/results">results</a>
                </div>
            <%}else{}%>
            <h2>
                <%=election.name%>
            </h2>
            <br><br>
            <b>Total votes : <%= voteCount %> </b>
            <form >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% var questionCount=1 %>
            <% var maximum %> 
            <% for(let i=0;i<allQuestions.length;i++){  %>
                    <hr>
                    Question <%= questionCount %> 
                    <h1 class="quesName" ><b><big><%=allQuestions[i].name%></big></b></h1>
                    <div class="quesDesc"> 
                        <%=allQuestions[i].desc%>
                    </div>
                    
                    <ul class="options">
                        <%for(j in allOptions[allQuestions[i].id]){%>
                        <li style="list-style:inside;">
                            
                            <%=allOptions[allQuestions[i].id][j].name%>
                            <span style="background-color: green; color: white; padding: 3px 6px;border-radius : 0 0 10px 10px ;margin: 0.5cm;"><%=allOptions[allQuestions[i].id][j].optionCount%></span>
                            <br>
                            <br>
                        </li>
                        <% maximum = Math.max(0,allOptions[allQuestions[i].id][j].optionCount) %> 
                        <% } %> 

                    </ul>
                    <br>
                    
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <br>
                <% questionCount++; }%>
            </form>
        </div>
    </div>
</body>
</html>