<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>
        <%= title %> 
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/public/styles.css">
    <script>
        var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        function deleteQuestion(id,qid,QuestionsCount){
        fetch(`/elections/${id}/questions/${qid}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                        count:QuestionsCount,
                        "_csrf":token
                    })
            })
                .then((res) => {
                    console.log(res)
                    if (res.status===400){window.alert("Atleast 1 question should be in the ballot")}
                    // if( res.status===400){window.alert("Atleast 1 question should be in the ballot")}
                    window.location.reload();
          })
                .catch(
                    (err) => console.log(err)
                    // window.alert("Atleast 1 question should be in the ballot")
                    );
      }
    </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <b><%= fname   %> 
                <%= lname   %> </b><br>
            <a href="/signout">Signout</a>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <li> <%= messages.error[i] %></li>
                <% } %>
              <% } %>
            <br>
            <div class="nav">
                <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/updatePassword">Update Password</a>
            </div>
            <form action="/updatePassword " method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="py-3">
                    <label for="text-gray-900">Previous Password</label>
                    <input type="text" name="oldPassword" id="oldPassword" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="text">New Password</label>
                    <input type="text" name="newPassword" id="newPassword" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <button class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
